:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  --background-color: #fff;
  --background-highlight-color: #eee;
  --highlight-color: #333;
  --text-color: #333;
  --link-color: #333;
  --link-hover-color: #333;
  --selected-node-color: #333;
  --selected-node-background-color: #ddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  --background-color: #333;
  --text-color: #eee;
  --link-color: #eee;
  --link-hover-color: #eee;
  --background-highlight-color: #face20;
  --selected-node-color: #eee;
  --selected-node-background-color: #666;
}

a {
  font-weight: 400;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;

  place-items: center;

  background-color: var(--background-color);
  color: var(--text-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

svg {
  fill: var(--text-color);
}

.folder_icon svg {
  fill: #f5bf42;
}

#header {
  display: flex;
  height: 24px;
  text-align: right;
  vertical-align: middle;
  padding: 0.5em;
  border-bottom: 2px solid #999;
  line-height: 1.5;
}

#header div {
  flex: 1;
}

#header div button {
  height: 24px;
}

.node_link {
  gap: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  white-space: nowrap;
}

.node_link:hover,
.node_link:active {
  color: var(--highlight-color);
  background-color: var(--background-highlight-color);
}

a.selected {
  color: var(--selected-node-color);
  background-color: var(--selected-node-background-color);
}

.node_link + ul {
  margin-left: 1.2em;
  border-left: 1px solid var(--background-color);
}

.node_link .active {
  font-weight: bold;
}

#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  overflow: hidden;
}

a[aria-expanded="false"] + ul {
  display: none;
}

a[aria-expanded="false"] .icon {
  display: inline-block;
  transform: rotate(-90deg);
}

.icon-placeholder {
  display: inline-block;
  visibility: hidden;
}

.disabled {
  pointer-events: none;
}

#navigation,
#main {
  padding: 0;
  overflow: auto;
  align-items: start;
}

#navigation {
  padding: 1em;
  border-right: 2px solid #999;
}

.table {
  width: 100%;
  table-layout: fixed;
  font-size: 0.9em;
  border: 0;
  border-collapse: collapse;
}

.table th {
  border-bottom: 2px solid #999;
  padding: 0;
  line-height: 2em;
}

.table th span {
  width: 16px;
  height: 16px;
}

.table th button {
  border: 0;
  text-align: left;
  padding: 1em;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--background-color);
  width: 100%;
  cursor: pointer;
  display: flex;
}

.table th button svg {
  margin-left: 10px;
  visibility: hidden;
}

.table th:hover button svg {
  visibility: visible;
}

.table tr:hover {
  color: var(--highlight-color);
  background-color: var(--background-highlight-color);
}

.table a {
  gap: 0.5em;
  display: flex;
  padding: 1em 1em;
  text-decoration: none;
  align-items: center;
}
/* 
  We can enable these for device preferences
*/

/*
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --background-highlight-color: #eee;
    --highlight-color: #333;
    --text-color: #333;
    --link-color: #333;
    --link-hover-color: #333;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #eee;
    --link-color: #eee;
    --link-hover-color: #eee;
    --background-highlight-color: #face20;
  }
} */
